body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #33485f;
    font-size: 1em;
    line-height: 1.8;
}

h1, h2, h3 {
    font-weight: 300;
    line-height: 1.25;
    margin: 0;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

.page-container {
    height: 100vh;
    background-color: #2b3d52;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-body {
    height: 100vh;
    width: 900px;
    max-width: 900px;
    background-color: #f5f6f7;
}

.header {
    display: flex;
    flex-direction: row;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
}

.logo-link {
    display: inline-block;
}

.header-right {
    padding: 24px 0 24px 40px;
    flex-grow: 1;
}

.header-subtitle {
    font-size: .8125em;
}
